    <div class="large-9 push-3 columns">
      
      <h3>Network commenters</h3>
      <a href="#" class="medium secondary button">All (3219)</a><a href="#" class="medium secondary button">White list (319)</a><a href="#" class="medium secondary button">Need Moderation (105)</a><a href="#" class="medium secondary button">Banned (2795)</a>
 <div class="row results">
  <div class="large-12 columns ">
    <div class="row">
      <div class="large-9 columns">
        <p> Search Results for Banned Users</p>
      </div>
      <div class=" large-3 columns ">
        <select name="sortOptions">
          <option value="sortby">Sort By</option>
          <option value="cats">My site</option>
          <option value="title">All sites</option>
          <option value="author">Alphabetical</option>
          <option value="mrecats">Date (most recent)</option>
        </select>
	
      </div>
    </div>
       <hr>
    <div class="search-results"><br>
      <div class="row ">
        <div class="large-2 columns">
          <a href="#"> <span> </span><img src="img/troll1.jpg" class=" thumbnail"></a>
        </div>
        <div class="large-10 columns">
          <div class="row">
            <div class=" large-9 columns">
              <h5>Mr Benjamin</h5>
              <p><a href="#"> benjy_@XXXXXXX.XXX</a> | ID: 4772
            </div>
            <div class=" large-3 columns">
              <a href="#"  class="button  expand medium"><span>Score: 0.1</span> </a>
            </div>
            <div class="row">
	      
              <div class=" large-12 columns">
                <ul class="button-group">
                  <li><a href="#" class="small alert button">Banned</a></li>
		  <li><a href="#" class="small button">Always moderate</a></li>
		  <li><a href="#" class="small success button">Increase score</a></li>
		  <li><a href="#" class="small secondary button">More info</a></li>
		  <li><a href="#" class="small secondary button">Add note</a></li>
		</ul>

                
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      
        <div class="search-results"><br>
      <div class="row ">
        <div class="large-2 columns">
          <a href="#"> <span> </span><img src="img/dick1.jpg" class=" thumbnail"></a>
        </div>
      <div class="large-10 columns">
          <div class="row">
            <div class=" large-9 columns">
              <h5>Richard C</h5>
              <p><a href="#"> cheneysbXX@XXXXXXX.XXX</a> | ID: 4773
            </div>
            <div class=" large-3 columns">
              <a href="#"  class="button  expand medium"><span>Score: 0.2</span> </a>
            </div>
            <div class="row">
	      
              <div class=" large-12 columns">
                
                  <ul class="button-group">
                   <li><a href="#" class="small alert button">Banned</a></li>
		  <li><a href="#" class="small button">Always moderate</a></li>
		  <li><a href="#" class="small success button">Increase score</a></li>
		  <li><a href="#" class="small secondary button">More info</a></li>
		  <li><a href="#" class="small secondary button">Add note</a></li>
		 </ul>
		  

                
              </div>
            </div>
          </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="row ">
        <div class="large-2 columns">
          <a href="#"> <span> </span><img src="img/troll2.jpg" class=" thumbnail"></a>
        </div>
      <div class="large-10 columns">
          <div class="row">
            <div class=" large-9 columns">
              <h5>Javier Monson</h5>
              <p><a href="#"> DelmarioXX@XXXXX.XXX</a> | ID: 4774
            </div>
            <div class=" large-3 columns">
              <a href="#"  class="button  expand medium"><span>Score: 0.1</span> </a>
            </div>
            <div class="row">
	      
              <div class=" large-12 columns">
                 <ul class="button-group">
                   <li><a href="#" class="small alert button">Banned</a></li>
		  <li><a href="#" class="small button">Always moderate</a></li>
		  <li><a href="#" class="small success button">Increase score</a></li>
		  <li><a href="#" class="small secondary button">More info</a></li>
		  <li><a href="#" class="small secondary button">Add note</a></li>
		 </ul>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="row ">
        
          
        
        <div class="large-10 columns">
          <div class="row">
            
            
            <div class="row">
              <div class=" large-12 columns">
                <ul class="large-block-grid-2">
                  
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <a href="#" class="button right"> show more results &raquo;</a>
  </div>
</div>             
    </div>
